span.a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid rgb(195, 235, 36);  
  background-color: rgb(130, 194, 196); 
}

span.b {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid rgb(112, 36, 235);  
  background-color: rgb(196, 130, 161);
}

span.c {
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid rgb(36, 235, 92);  
  background-color: rgb(196, 130, 175);
}
